body {
    font-family: Arial, sans-serif;
    background-color: #333; /* Dark gray background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; /* Remove default margin */
}

.container {
    background-color: rgb(241, 7, 7);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px; /* Increase the width for better display */
    width: 100%; /* Ensure the container adjusts according to the screen size */
    margin: 0 auto; /* Center container */
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.processed-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
}
